body {
    padding-top: 30px; /* Налаштуйте значення відповідно до висоти навбара */
}

.logo {
    height: 5px;
    width: 12px;
    filter: brightness(0.65);
}


/* Стиль для мапи */

#map {
 width: 100%;
 height: 400px;
}
@media (max-width: 576px) {
 #map {
     height: 300px; /* Зміна висоти карти для кращої адаптації */
 }
}
.marker {
 cursor: pointer;
}
/* Стиль підсвічування для навігаційних посилань */
.navbar-nav .nav-link {
 transition: color 0.3s ease, border-bottom 0.3s ease;
 border-bottom: 2px solid transparent; /* Початковий стан без контуру */
 padding-bottom: 5px;
}

/* Підсвічування при наведенні */
.navbar-nav .nav-link:hover {
 color: #0dcaf0; /* Світло-синій колір при наведенні */
 border-bottom: 2px solid #0dcaf0; /* Підкреслення при наведенні */
}

/* Виділення активного пункту */
.navbar-nav .nav-link.active {
 color: #0dcaf0; /* Світло-синій текст для активного пункту */
 border-bottom: 2px solid #0dcaf0; /* Підкреслення для активного пункту */
}
.card {
 height: 100%;
 display: flex;
 flex-direction: column;
}
.card-body {
 flex-grow: 1;
}
.card-footer {
text-align: center;
}
.card-img-top {
    width: 100%; /* Зробити зображення на всю ширину контейнера */
    height: 400px; /* Фіксована висота для всіх зображень */
    object-fit: cover; /* Обрізати зображення, щоб відповідало заданим розмірам */
}
.cafe:hover {
    
    color: blue; /* колір тексту при наведенні */
  
   }
.cafe {
 
 font-weight: bold;
 color: green;
 font-size: 1.5rem;
 text-decoration: none;
}
.carousel-control-prev-icon, .carousel-control-next-icon {
 background-color: black;
 width: 50px;
 height: 50px;
 border-radius: 50%;
}
@media (max-width: 576px) {
 .carousel {
     display: none; /* Сховати карусель на малих екранах */
 }
 .row {
     display: flex;
     flex-direction: column; /* Відображати картки вертикально */
 }
}




