* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Arial;
}

/* disable vertical scroll */
body, html {
    overflow-x: hidden;
}

.header-navbar {
    margin-bottom: 70px;
}

.header-navbar .navbar {
    height: 100px;
    background-color: #201f1f; 
    color: #e3e3e3;
}

.navbar-nav .nav-link {
    border-bottom: 2px solid transparent;
    padding-bottom: 5px;
    margin: 0px 6px;
    transition: color 0.3s ease, border-bottom 0.3s ease;
}

.navbar-nav .nav-link:hover {
    color: #39e891b3; 
    border-bottom: 2px solid #39e891b3; 
}

.navbar-nav .nav-link.active {
    color: #27935db3; 
    border-bottom: 2px solid #27935db3;
}

@media (max-width: 768px) {
    .navbar-collapse {
        position: absolute;
        top: 100px;
        right: 0;
        z-index: 10;
        background-color: #272727;
        width: 100%;
    }
}

.navbar-collapse .nav-link {
    color: #e3e3e3;
}

.navbar-collapse .nav-link:hover {
    color: #39e891b3;
    border-bottom: 2px solid #39e891b3;
}

.main {
    min-height: 80vh;
}

.card-img-top {
    width: 100%; 
    height: 300px; 
    object-fit: cover; 
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.card {
    border-radius: 25px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

.btn {
    width: 50%;
    display: block;
    border-radius: 25px;
    margin: 0 auto;
}

.carousel-control-prev-icon, 
.carousel-control-next-icon {
    background-color: #27935db3;
    width: 50px;
    height: 50px;
    border-radius: 30%;
}

@media (max-width: 576px) {
    .carousel {
        display: none; 
    }
    .row {
        display: flex;
        flex-direction: column; 
    }
}

.footer {
    background-color: #201f1f; 
    color: #e3e3e3ac;
}